<div id="authErrors">
  {{#if hasAuthErrors}}
  {{#each authErrors}}
  <p class="authError">
    {{this}}
  </p>
  {{/each}}
  {{/if}}
</div>
{{#if notfound}}
<div>
  <p id="NotFound">Oops! There is no user with a username of {{username}}</p>
</div>
{{else}}
{{#if message}}
<h2 id="message">{{this.content}}</h2>
{{/if}}
<section class="user_profile_details_section">
  {{#if sameUser}}
  <div class="link-buttons">
    <a href="/users/editprofile">
      Edit Profile</a>
    <a href="/users/updatepassword">Update Password</a>
    {{#if profile.email}}
    <form method="POST" action="/users/editprofile/removeEmail">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Remove Email</button>
    </form>
    {{/if}}
    {{#if profile.bio}}
    <form method="POST" action="/users/editprofile/removeBio">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Remove Bio</button>
    </form>
    {{/if}}
  </div>
  {{/if}}
  <h1 id="userFirstLastNames">{{profile.firstName}} {{profile.lastName}}</h1>
  <p class="username">@{{profile.username}}</p>
  {{#if sameUser}}
  {{#if profile.email}}
  <p class="bio">{{profile.email}}</p>
   {{#if profile.isVerified}}
  <p class="verification-status verified">Verified User</p>
  {{else}}
  <p class="verification-status pending">Pending Verification</p>
  {{/if}}
  {{else}}
  <p class="verification-status unverified">Unverified User</p>
  {{/if}}
  {{/if}}

  {{#if profile.bio}}<p class="bio">{{profile.bio}}</p>{{/if}}
</section>

<div class="activity-sections">
  <section class="user-activity">
    <h2>{{#if sameUser}}Your Favorite Spots{{else}}{{profile.firstName}}'s Favorite Spots{{/if}}</h2>
    <div class="scrolltype">
      {{#if favoriteSpots}}
      {{#if sameUser}}
      {{#each favoriteSpots}}
      <section>
        <h3><a href="/spots/details/{{this._id}}">{{this.name}}</a></h3>
        <a href="/spots/details/{{this._id}}"><img class="spot-image-user-profile" src="{{this.images.0.url}}"
            alt="{{this.name}} top image"></a>
        <p class="rating">Average Rating: {{this.averageRating}} out of 10</p>
        <div class="link-buttons">
          <a href="/spots/details/{{this._id}}">View Spot Details</a>
          <form method="POST" action="/spots/removefavorite/{{this._id}}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete" type="submit">Remove from favorites</button>
          </form>
        </div>
      </section>
      {{/each}}
      {{else}}
      {{#each favoriteSpots}}
      <section>
        <h3><a href="/spots/details/{{this._id}}">{{this.name}}</a></h3>
        <a href="/spots/details/{{this._id}}"><img class="spot-image-user-profile" src="{{this.images.0.url}}"
            alt="{{this.name}} top image"></a>
        <p class="rating">Average Rating: {{this.averageRating}} out of 10</p>
        <div class="link-buttons">
          <a href="/spots/details/{{this._id}}">View Spot Details</a>
        </div>
      </section>
      {{/each}}
      {{/if}}
      {{else}}
      <p>No spots here!</p>
      {{/if}}
    </div>
  </section>

  <section class="user-activity">
    <h2>{{#if sameUser}}Your Submitted Spots{{else}}{{profile.firstName}}'s Submitted Spots{{/if}}</h2>
    <div class="scrolltype">
      {{#if submittedSpots}}
      {{#if sameUser}}
      {{#each submittedSpots}}
      <section>
        <h3><a href="/spots/details/{{this._id}}">{{this.name}}</a></h3>
        <img class="spot-image-user-profile" src="{{this.images.0.url}}" alt="{{this.name}} top image">
        <p class="rating">Average Rating: {{this.averageRating}} out of 10</p>
        <div class="link-buttons">
          <a href="/spots/details/{{this._id}}">View Spot Details</a>
          <a href="/spots/edit/{{this._id}}">Edit Spot Details</a>
          <form method="POST" action="/spots/{{this._id}}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete" type="submit">Delete Spot</button>
          </form>
        </div>
      </section>
      {{/each}}
      {{else}}
      {{#each submittedSpots}}
      <section>
        <h3><a href="/spots/details/{{this._id}}">{{this.name}}</a></h3>
        <img class="spot-image-user-profile" src="{{this.images.0.url}}" alt="{{this.name}} top image">
        <p class="rating">Average Rating: {{this.averageRating}} out of 10</p>
        <div class="link-buttons">
          <a href="/spots/details/{{this._id}}">View Spot Details</a>
        </div>
      </section>
      {{/each}}
      {{/if}}
      {{else}}
      <p>No spots here!</p>
      {{/if}}
    </div>
  </section>

  <section class="user-activity">
    <h2>{{#if sameUser}}Your Comments{{else}}{{profile.firstName}}'s Comments{{/if}}</h2>
    <div class="scrolltype">
      {{#if comments}}
      {{#if sameUser}}
      {{#each comments}}
      <section>
        <h3 class="comment-message">{{this.message}}</h3>
        {{#if this.image}}
        <img class="comment-image-user-profile" src="{{this.image.url}}"
          alt="{{profile.firstName}} {{profile.lastName}} comment image">
        {{/if}}
        <div class="link-buttons">
          <a href="/spots/details/{{this.spotId}}">View Comment's Spot Details</a>
          <a href="/spots/comments/edit/">Edit Comment</a>
          <form method="POST" action="/spots/deleteComment/{{this._id}}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete" type="submit">Delete Comment</button>
          </form>
        </div>
      </section>
      {{/each}}
      {{else}}
      {{#each comments}}
      <section>
        <h3 class="comment-message">{{this.message}}</h3>
        {{#if this.image}}
        <img class="comment-image-user-profile" src="{{this.image.url}}"
          alt="{{profile.firstName}} {{profile.lastName}} comment image">
        {{/if}}
        <div class="link-buttons">
          <a href="/spots/details/{{this.spotId}}">View Comment's Spot Details</a>
        </div>
      </section>
      {{/each}}
      {{/if}}
      {{else}}
      <p>No comments here!</p>
      {{/if}}
    </div>
  </section>

  {{#if sameUser}}
  <section class="user-activity">
    <h2>Your Ratings</h2>
    <div class="scrolltype">
      {{#if ratings}}
      {{#each ratings}}
      {{#if this.spot}}
      <section>
        <h3><a href="/spots/details/{{this.spot._id}}">{{this.spot.name}}</a></h3>
        <p class="rating">Your rating: {{this.rating}} out of 10</p>
        <div class="link-buttons">
          <a href="/spots/details/{{this.spot._id}}">Edit Rating in Spot's Page</a>
          <form method="POST" action="/spots/deleteRating/{{this._id}}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete" type="submit">Delete Rating</button>
          </form>
        </div>
      </section>
      {{/if}}
      {{/each}}
      {{else}}
      <p>No ratings here!</p>
      {{/if}}
    </div>
  </section>
  {{/if}}

  <section class="user-activity">
    <h2>{{#if sameUser}}Your Contest Submissions{{else}}{{profile.firstName}}'s Contest Submissions{{/if}}</h2>
    <div class="scrolltype">
      {{#if contestSubmissions}}
      {{#each contestSubmissions}}
      <div class="submissions">
        <img class="contest-image-user-profile" src="{{this.image.url}}"
          alt="{{profile.firstName}} {{profile.lastName}} contest image">
      </div>
      {{/each}}
      {{else}}
      <p>No contest submissions here!</p>
      {{/if}}
    </div>
  </section>
</div>

{{/if}}